@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 62.5%;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: url(/assets/background.png);
    background-position: center;
    background-size: cover;
    padding: 0 7%;
    color: #fff;
    & nav{
        width: 100%;
        padding: 20px 0;
        display: flex;
        align-items: center;
        & .logo{
            width: 50px;
            cursor: pointer;
        }
        & ul{
            flex: 1;
            & li{
                display: inline-block;
                margin: 10px 20px;
                & a{
                    text-decoration: none;
                    color: #fff;
                    font-size: 1.5rem;
                }
                & a:hover{
                    background: linear-gradient(to right, #f5b645 , #da4da4);
                    background-clip: text;
                    color: transparent;
                }
            }
            & li:hover{
                    transform: scale(1.1);
                }
        }
        .btn{
            color: #fff;
            text-decoration: none;
            font-size: 1.5rem;
            border: 1px solid #fff;
            padding: 10px 30px;
            border-radius: 20px;
            
        }
        & .btn:hover{
                background: linear-gradient(to right, #f5b645 , #da4da4);
                color: black;
            }
    }
    & .content{
        margin-top: 5%;
        & h1{
            font-size: 8.8rem;
            margin-bottom: 15px;
            & span{
                background: linear-gradient(to right, #f5b645 , #da4da4);
                background-clip: text;
                color: transparent;
                font-size: 8.8rem;
            }
        }
        & p{
            font-size: 1.5rem;
            margin-bottom: 25px;
        }
        .btn{
            color: #fff;
            text-decoration: none;
            font-size: 1.5rem;
            border: 1px solid #fff;
            padding: 10px 30px;
            border-radius: 20px;
            margin-bottom: 5%;
            
        }
        & .btn:hover{
                background: linear-gradient(to right, #f5b645 , #da4da4);
                color: black;
            }
    
    }
    & .coin-list{
        position: absolute;
        right: 8%;
        bottom: 50px;
        display: flex ;
        align-items: center;
        & .coin{
            display: flex;
            align-items: center;
            font-size: 1.4rem;
            margin: 0 15px;
            color: #f5b645;
            border: 1px solid #fff;
            padding: 20px 30px;
            border-radius: 8px;
            & img{
                width: 40px;
                margin-right: 10px;
            }
            & h3{
                color: #fff;
                font-size: 1.5rem;
                font-weight: 500;
                margin-bottom: 5px;
            }
            & .price{
                font-size: 1.5rem;
                background: linear-gradient(to right, #f5b645 , #da4da4);
                background-clip: text;
                color: transparent;

            }
            & p{
                font-size: 1.9rem;
            }
        }
    }
}



